.formacoes__imagem {
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.formacoes__imagem--unigoias {
    background-image: url('../../images/unigoias.png');
}

.formacoes__imagem--alura {
    background-image: url('../../images/alura.png');
}

@media screen and (min-width: 0) {
    .formacoes__imagem {
        height: 118px;
        background-size: 40%;
    }
}

@media screen and (min-width: 1440px) {
    .formacoes__imagem {
        height: 286px;
        background-size: auto;
    }
}