.formacoes__lista {
    display: flex;
    margin-top: 2rem;
}

@media screen and (min-width: 0) {
    .formacoes__lista {
        flex-direction: column;
        justify-content: none;
    }
}

@media screen and (min-width: 768px) {
    .formacoes__lista {
        flex-direction: row;
        justify-content: center;
    }
}