.formacoes__ano-instituicao {
    font-weight: 500;
    margin-top: 0.5rem;
}

@media screen and (min-width: 0) {
    .formacoes__ano-instituicao {
        font-size: 0.875rem;
        line-height: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .formacoes__ano-instituicao {
        font-size: 1rem;
        line-height: 1.1875rem;
    }
}