.experiencias__titulo {
    font-weight: 700;
    text-align: center;
}

@media screen and (min-width: 0) {
    .experiencias__titulo {
        font-size: 1.375rem;
        line-height: 1.625rem;
    }
}

@media screen and (min-width: 1440px) {
    .experiencias__titulo {
        font-size: 2rem;
        line-height: 2.375rem;
    }
}