.experiencias {
    background-color: var(--cinza-claro);
}

@media screen and (min-width: 0) {
    .experiencias {
        padding: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .experiencias {
        padding: 2rem 9.5rem;
    }
}