.skills__item {
    align-items: end;
    background-color: #FFFFFF;
    background-position-x: 1rem;
    background-position-y: calc(174px - 2.5rem);
    background-repeat: no-repeat;
    display: flex;
    height: 174px;
    margin-right: 1rem;
    padding: 1rem;
    width: calc(16% - 1rem);
}

.skills__item--html5 {
    background-image: url('../../images/htlm.png');
}

.skills__item--css {
    background-image: url('../../images/css_icon.png');
}

.skills__item--javascript {
    background-image: url('../../images/js_icon.png');
    margin-right: 0;
}