.menu__item {
    list-style: none;
}

.menu__item:last-child .menu__link {
    margin-right: 0;
}

@media screen and (min-width: 0) {
    .menu__item:nth-child(-n+5) {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .menu__item:nth-child(-n+5) {
        display: block;
    }
}