.contato {
    background-color: var(--azul-claro);
    display: flex;
}

@media screen and (min-width: 0) {
    .contato {
        padding: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .contato {
        padding: 8rem 9.5rem 4rem 9.5rem;
    }
}