.hobbies__item {
    align-items: end;
    background-color: #FFFFFF;
    background-position-x: 1rem;
    background-position-y: calc(174px - 2.5rem);
    background-repeat: no-repeat;
    display: flex;
    height: 174px;
    margin-left: 1rem;
    padding: 1rem;
    width: calc(16% - 1rem);
}

.hobbies__item--ouvir-musica {
    background-image: url('../../images/headphones_icon.png');
}

.hobbies__item--assistir-series {
    background-image: url('../../images/tv_icon.png');
}

.hobbies__item--praticar-esportes {
    background-image: url('../../images/skate_icon.png');
}

@media screen and (min-width: 0) {
    .hobbies__item {
        background-position-y: calc(118px - 2.5rem);
        height: 118px;
        margin-top: 2rem;
        width: calc(50% - 2.5rem);
    }

    .hobbies__item:nth-child(2n+1) {
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) {
    .hobbies__item {
        width: calc(33% - 2.6rem);
    }

    .hobbies__item:nth-child(2n+1) {
        margin-left: 1rem;
    }

    .hobbies__item:nth-child(3n+1) {
        margin-left: 0;
    }
}

@media screen and (min-width: 1440px) {
    .hobbies__item {
        background-position-y: calc(174px - 2.5rem);
        height: 174px;
        width: calc(33% - 2.6rem);
    }

    .hobbies__item:nth-child(3n+1) {
        margin-left: 1rem;
    }

    .hobbies__item:nth-child(6n+1) {
        margin-left: 0;
    }
}