.formulario__input-container .formulario__invalido {
    color: #FF0000;
    display: block;
    font-size: 0.9rem;
    font-style: italic;
    margin: 0.4rem 0 0 0.4rem;
}

.formulario__input-container .formulario__input {
    border: 1px solid #FF0000;
}

.formulario__input-container .formulario__input::placeholder {
    color: #FF0000;
    font-style: italic;
}