.botao-azul {
    background-color: #2A7AE4;
    border: 1px solid #2A7AE4;
    color: #FFFFFF;
}

.botao-azul:hover {
    background-color: #5595E9;
    border-color: #5595E9;
}

@media screen and (min-width: 0) {
    .botao-azul {
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1rem;
        padding: 0.75rem 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .botao-azul {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.1875rem;
        padding: 1rem;
    }
}