.botao-azul {
    background-color: #2A7AE4;
    border: 1px solid #2A7AE4;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1875rem;
    padding: 1rem;
}

.botao-azul:hover {
    background-color: #5595E9;
    border-color: #5595E9;
}