.foto-perfil {
    background-image: url('../images/perfil.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 368px;
    width: 368px;
}