.sobre-mim__biografia {
    font-weight: 400;
    margin-top: 1rem;
}

@media screen and (min-width: 0) {
    .sobre-mim__biografia {
        font-size: 0.875rem;
        line-height: 1rem;
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .sobre-mim__biografia {
        font-size: 1rem;
        line-height: 1.1875rem;
        width: 60%;
    }
}