.sobre-mim__assinatura {
    background-image: url('../../images/signature.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 52px;
    margin-top: 1rem;
    width: 140px;
}